/* ================================= 
  Global
==================================== */


/* Base ========================================================================== */

* {
  box-sizing: border-box;
}

html,
body,
ul {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  width: 100%;
  font-family: $font-main;
}

h1 {
  font-family: 'Courgette', cursive;
  text-shadow: 0 1px 0 rgba(0,0,0, .4);
  line-height: .65;
  margin-top: .5rem;
  margin-bottom: 0;
  color: #fff;
  font-size: 3.25rem;
}

h2 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

pre {
  color: #fff;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}


/* ================================= 
  site-wrapper
==================================== */

.site-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;

  @include mq(xxl) {
    max-width: 1400px;
  }
}