/* ================================= 
  Global
==================================== */


/* Base
   ========================================================================== */

* {
  box-sizing: border-box;
}

html,
body,
ul {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: $font-main;
  background: url('../img/flashcardBG.jpg') no-repeat;
  background-size: cover;
}


// h1,
// h2 {
//   font-family: ;
// }


h1 {
  font-family: 'Courgette', cursive;
  text-shadow: 0 1px 0 rgba(0,0,0, .4);
  line-height: .65;
  margin-top: .5rem;
  margin-bottom: 0;
  color: #fff;
  font-size: 3.25rem;
}

h2 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

pre {
  color: #fff;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

/* Site-title
   ========================================================================= */
   .site-title {
    margin: 0rem;
    font-family: $font-site-title;
    font-size: 1.75rem;
  
    @include mq(m) {
      margin: 0;
      width: 180px;
      font-size: 2.25rem;
    }
  
    &__link {
      color: #fff;
    }
  }