// Header

@use '../../assets/scss/01-helpers/variables' as var;
@use '../../assets/scss/01-helpers/breakpoints' as bp;

main:not(.home) .header {
  border-bottom: 1px solid var.$color-dark-shade;
}

.header__site-title {
  font-family: var.$font-header;
}
