extends layout/layout
block content
  section.l-welcome__container
    .l-welcome
      h2.l-welcome__title Welcome to FlashCard
      p.l-welcome__copy To get started click below to add a new a card. Once done go to "Cards" to start studing.
      a.btn(href='/add_card') Add Card

