/* ================================= 
  1. Helpers
==================================== */
/* ================================= 
  Variables
==================================== */
/* Color
   ========================================================================== */
/* Button Color
   ========================================================================== */
/* Font-family
   ========================================================================== */
/* Font-size
   ========================================================================== */
/* ================================= 
  Mixins
==================================== */
/* Breakpoints
   ========================================================================== */
/* ================================= 
  Media Queries
==================================== */
/* ================================= 
  Functions
==================================== */
/* ================================= 
  2. Base
==================================== */
/* ================================= 
  Reset - Normalize
==================================== */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ================================= 
  Global
==================================== */
/* Base ========================================================================== */
* {
  box-sizing: border-box;
}

html,
body,
ul {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  width: 100%;
  font-family: averta, avenir w02, avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-family: "Courgette", cursive;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  line-height: 0.65;
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: #fff;
  font-size: 3.25rem;
}

h2 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

pre {
  color: #fff;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

/* ================================= 
  site-wrapper
==================================== */
.site-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}
@media (min-width: 1440px) {
  .site-wrapper {
    max-width: 1400px;
  }
}

/* ================================= 
  3. Layout
==================================== */
/* ================================= 
  Header
==================================== */
.l-header__container,
.l-header--fixed-top,
.l-header--flex-cen {
  display: flex;
}

.l-header {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 70px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(12, 20, 29, 0.9);
}
@media (min-width: 768px) {
  .l-header {
    background-color: rgba(12, 20, 29, 0.75);
  }
}

.l-header__container {
  height: 100%;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .l-header__container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* ================================= 
  Hero
==================================== */
.l-hero {
  padding: 0.5rem;
  height: 100vh;
  color: #fff;
  background: url("../img/nathan-dumlao-PgFA6e3GOaU-unsplash.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}
@media (min-width: 768px) {
  .l-hero {
    height: 744px;
  }
}
.l-hero::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  .l-hero__container {
    margin-top: 8rem;
    padding: 0;
  }
}

/* ================================= 
  footer
==================================== */
.l-footer {
  padding: 1rem;
  color: white;
  background-color: #264460;
  width: 100%;
}

.l-footer p {
  font-size: 0.75rem;
}

/* ================================= 
  Feature
==================================== */
.l-feature__container {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

/* ================================= 
  welcome
==================================== */
.l-welcome {
  margin-top: 3rem;
}

.l-welcome__copy {
  line-height: 1.5;
  margin: 3rem 0;
}

.l-welcome__container {
  margin: 1.5rem auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  padding: 2rem 0.5rem;
}
@media (min-width: 768px) {
  .l-welcome__container {
    height: 787px;
    margin: 10rem auto;
    padding: 0 2rem;
    max-width: 1000px;
  }
}

/* ================================= 
  flashCard
==================================== */
.l-flashCard {
  min-height: 100vh;
  padding-top: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.l-flashCard__container {
  padding: 0 1rem;
}

/* ================================= 
  error
==================================== */
.l-error {
  min-height: 100vh;
  padding-top: 8rem;
  width: 80%;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

/* ================================= 
  4. Module
==================================== */
/* Site-title ========================================================================= */
.site-title {
  margin: 0rem;
  font-family: "Courgette", cursive;
  font-size: 1.75rem;
}
@media (min-width: 768px) {
  .site-title {
    margin: 0;
    width: 180px;
    font-size: 2.25rem;
  }
}

.site-title__link {
  color: #fff;
}

/* ================================= 
  Card
==================================== */
.card,
.card--flex-center {
  display: flex;
}

.card__aside,
.card__content {
  width: 100%;
}
@media (min-width: 768px) {
  .card__aside,
.card__content {
    width: 50%;
  }
}

.card__aside--flashCard,
.card__content--flashCard {
  width: 100%;
}

.card__title--hero,
.card__copy--hero {
  margin: 0 0 1.75rem;
}
@media (min-width: 375px) {
  .card__title--hero,
.card__copy--hero {
    margin: 0 0 3rem;
  }
}

.card__header, .card__body {
  margin: 2rem 0;
}

.card,
.card__title--flashCard,
.card__copy {
  text-align: center;
}

.card {
  position: relative;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .card {
    text-align: left;
  }
}

.l-feature .card {
  margin-top: 7rem;
}

.card__content {
  padding: 1rem;
}

.card__content--flashCard {
  padding-bottom: 1.5rem;
}

.card__title {
  font-size: 1.75rem;
}

.card__copy {
  font-size: 1rem;
  line-height: 1.7;
}

.card__footer {
  width: 100%;
}

.card__title--hero {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .card__title--hero {
    margin: 4rem 0 2rem;
  }
}

.card__copy--hero {
  line-height: 1.5;
  text-align: left;
}

@media (min-width: 768px) {
  .card--img-left {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .card--img-right {
    flex-direction: row-reverse;
  }
}

.card--flex-center {
  justify-content: center;
}

.card--title-small {
  font-size: 1.25rem;
}

.card--icon {
  height: 40px;
  width: 40px;
}

.card--flashCard {
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .card--flashCard {
    max-width: 700px;
    height: 500px;
  }
}

.card__aside--flashCard {
  background: #727C85 url("../img/zach-lucero-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 225px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (min-width: 768px) {
  .card__aside--flashCard {
    height: 250px;
  }
}

.card__title--flashCard {
  border-top: 2px solid #F5F3ED;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  color: #727C85;
  padding: 10px;
  letter-spacing: 5px;
  background-color: #F5F3ED;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

/* ================================= 
  button
==================================== */
.btn {
  display: inline-block;
  width: 100px;
  padding: 8px 10px;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  font-family: averta, avenir w02, avenir, Helvetica, Arial, sans-serif;
  background-color: #000;
  border-radius: 5px;
  border: none;
}
.btn:hover {
  border: red solid 1px;
  background-color: rgba(0, 0, 0, 0);
  color: red;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--mx1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn--callout {
  background-color: #D64226;
}

.btn--green {
  background-color: #107510;
}

.btn--form {
  background-color: #264460;
}

.btn--large {
  padding: 10px 12px;
  width: 150px;
  height: 50px;
  font-size: 1.25rem;
}

.btn--small {
  padding: 10px 8px;
  width: 80px;
  font-size: 0.75rem;
}

.btn--mobile-toggle {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 20px;
  background-color: #0f1924;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  z-index: 500;
}
@media (min-width: 768px) {
  .btn--mobile-toggle {
    display: none;
  }
}

.btn--bar1,
.btn--bar2,
.btn--bar3 {
  width: 40px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

.btn--bar1 .change,
.btn--bar3 .change {
  background-color: #000;
}

.btn--bar1 .change {
  -webkit-transform: rotate(-45deg) translate(-8px, 5px);
  transform: rotate(-45deg) translate(-8px, 5px);
}

.btn--bar2 .change {
  opacity: 0;
}

.btn--bar3 .change {
  -webkit-transform: rotate(45deg) translate(-8px, -5px);
  transform: rotate(45deg) translate(-8px, -5px);
}

/* ================================= 
  Namecard
==================================== */
.namecard {
  background-color: #F5F3ED;
  max-width: 400px;
  margin: auto;
  color: #727C85;
  text-align: center;
  border-radius: 20px;
}

.namecard-hello {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  border-bottom: solid 2px #EDEAD9;
  padding: 5px 20px;
  text-align: left;
}

.namecard-greeting {
  font-size: 1em;
  font-weight: 400;
  width: 50%;
}

.namecard-form {
  padding-top: 15px;
}

.namecard-prompt {
  font-size: 26px;
  font-weight: 400;
  display: block;
  padding-top: 45px;
}

.namecard-name {
  display: block;
  margin: 20px auto;
}

.namecard-submit {
  margin-top: 50px;
  background-color: #fff;
  border: 2px #D64226 solid;
  font-size: 1em;
  padding: 8px 10px;
  color: #D64226;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.namecard-submit:hover {
  background-color: #D64226;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.namecard-exit {
  width: 50%;
  text-align: right;
}

.namecard-exit button {
  background-color: #F5F3ED;
  border: none;
  margin-top: 2px;
  outline: none;
}

.namecard-exit button:hover {
  cursor: pointer;
}

/* ================================= 
  form
==================================== */
.form {
  width: 100%;
  max-width: 900px;
  margin: 0rem auto 4rem;
  padding: 1rem;
  color: #fff;
  background-color: rgba(14, 25, 35, 0.8);
  border-radius: 15px;
  border: solid 3px #fff;
}
@media (min-width: 768px) {
  .form {
    width: 60%;
    max-width: 900px;
    height: 575px;
    margin: 3rem auto 1rem;
    padding: 1rem;
  }
}

.form__container {
  padding: 2rem 0.5rem;
  margin-bottom: 3.5rem;
}
@media (min-width: 768px) {
  .form__container {
    margin-top: 3rem;
  }
}

.form__header {
  width: 100%;
  text-align: center;
}

.form__title {
  margin: 1rem 0;
}

.form__body {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}
@media (min-width: 768px) {
  .form__body {
    width: 80%;
  }
}

.form__input {
  margin: 0.25rem 0 1.25rem;
  padding: 9px;
  color: #fff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  border: 2px solid #fff;
  outline: none;
}
@media (min-width: 768px) {
  .form__input {
    margin: 0.25rem 0 1.5rem;
    padding: 12px;
  }
}

.form__action {
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .form__action {
    margin-top: 2rem;
  }
}

.img {
  width: 100%;
  height: 100%;
}

@media (max-width: 374px) {
  .img--hero {
    width: 75%;
    height: 75%;
  }
}

/* ================================= 
  Nav
==================================== */
.nav {
  display: none;
}
@media (min-width: 768px) {
  .nav {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
}

.nav__list {
  align-items: center;
  list-style-type: none;
  color: #F6F4DE;
  margin: 0;
  padding-inline-start: 0;
}

.nav__item {
  margin: 0 1rem;
}

.nav__link {
  color: #fff;
}

.nav--flex {
  display: flex;
  justify-content: flex-end;
}

/* ================================= 
 Mobile nav
==================================== */
.mobile-nav__item,
.mobile-nav__link {
  display: block;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 100;
  background-color: #fff;
  transition: 0.2s;
  overflow-x: hidden;
  text-align: center;
}
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav__container {
  margin-top: 4rem;
  padding: 1rem;
  width: 100%;
}

.mobile-nav__list {
  margin-bottom: 2rem;
}

.mobile-nav__item {
  border-bottom: 1px solid;
  padding: 1rem 0;
}

.mobile-nav__link {
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.mobile-nav--remove-border {
  border: none;
}

/* ================================= 
  List
==================================== */
.list {
  display: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .list {
    width: 240px;
    display: block;
  }
}

.list__container {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .list__container {
    flex-direction: row;
    align-items: center;
  }
}

.list__item {
  margin: 0 1rem;
}

.list__link {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
