/* ================================= 
  List
==================================== */
.list {
  display: none;
  margin: 0;
  padding: 0;

  @include mq(m) {  
    width: 240px;
    display: block;
  }
}

.list__container {
  display: flex; 
  justify-content: center;

  @include mq(m) {  
    flex-direction: row;
    align-items: center;
  }  
}

.list__item {
  margin: 0 1rem;
}

.list__link {
  color: #fff;
}