/* ================================= 
 Mobile nav
==================================== */
.mobile-nav__item,
.mobile-nav__link {
  display: block;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 100;
  background-color: #fff;
  transition: 0.2s;
  overflow-x: hidden;
  text-align: center;

  @include mq(m) {
    display: none;
  }
}

.mobile-nav__container {
  margin-top: 4rem;
  padding: 1rem;
  width: 100%;
}

.mobile-nav__list {
  margin-bottom: 2rem;
}

.mobile-nav__item {
  border-bottom: 1px solid;
  padding: 1rem 0;
}

.mobile-nav__link {
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.mobile-nav--remove-border {
  border: none;
}  