/* ================================= 
  Nav
==================================== */
.nav {
  display: none;

  @include mq(m) {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
}

.nav__list {
  align-items: center;
  list-style-type: none;
  color: $color-highlight;
  margin: 0;
  padding-inline-start: 0;
}

.nav__item {
  margin: 0 1rem;
}

.nav__link {
  color: #fff;
  
}

// -- modifier --

.nav--flex {
  display: flex;
  justify-content: flex-end;

}