// hero

@use '../1-helpers/variables' as var;
@use '../1-helpers/breakpoints' as bp;

.hero {
  height: calc(100vh - 4.37rem);
  background: url('../img/thought-catalog-Nv-vx3kUR2A-unsplash.jpg') no-repeat
    50% 50%;
  background-size: cover;
  position: relative;
  color: var.$color-white;

  // @include bp.media-breakpoint-up(md) {
  //   height: 744px;
  // }

  &::before {
    content: ' ';
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    @include bp.media-breakpoint-up(sm) {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 15%,
        rgba(0, 0, 0, 0.6) 30%,
        rgba(0, 0, 0, 0) 35%
      );
    }

    @include bp.media-breakpoint-up(lg) {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 15%,
        rgba(0, 0, 0, 0.8) 30%,
        rgba(0, 0, 0, 0) 40%
      );
    }
  }
}

.hero__container > * {
  z-index: 1;
}

.hero__content {
  bottom: 15%;
  left: 0;
  padding: 0 1rem;

  @include bp.media-breakpoint-up(sm) {
    max-width: 250px;
    bottom: 10%;
  }

  @include bp.media-breakpoint-up(md) {
    max-width: 205px;
  }

  @include bp.media-breakpoint-up(lg) {
    max-width: 375px;
  }

  @include bp.media-breakpoint-up(xl) {
    max-width: 500px;
  }
}

.hero__title {
  margin: 0 0 1.5rem;
  color: var.$color-white;
  font-family: var.$font-main;
}

.hero__copy {
  margin: 0 0 1.5rem;
}
