header.header
  .header__container.container
    h1.header__site-title
      if !currentUser 
        a(
          class='header__site-title-link'
          href="/"
          ) FlashCard
      else
        a(
        class='header__site-title-link'
        href="/home"
        ) FlashCard   

    button(data-js="btn-mobile-toggle" class="btn-mobile-toggle")
      .btn-bar1
      .btn-bar2
      .btn-bar3
    include ./nav