// flashcard
@use '../1-helpers/variables' as var;
@use '../1-helpers/breakpoints' as bp;

.flashcard {
  background-color: transparent;
  color: var.$color-black;
  line-height: 1.5;
  perspective: 1000px;

  // transition: transform 0.6s;
  // transform-style: preserve-3d;

  
  @include bp.media-breakpoint-up(md) {
    max-width: 700px;
  }
}

.flashcard__inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flashcard--flipped .flashcard__inner {
  transform: rotateY(180deg);
}

.flashcard--front,
.flashcard--back {
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  // left: 0;
  // right: 0;
  border: 1px solid var.$color-black;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var.$black-shadow-1;


  @include bp.media-breakpoint-up(md) {
    min-height: 560px;
  }
}


.flashcard--back {
  z-index: 50;
  transform: rotateY(180deg);
}


.flashcard--front .flashcard__aside {
  background: var.$color-black url('../img/zach-lucero-unsplash.jpg') no-repeat;
}

.flashcard--back .flashcard__aside {
  background: var.$color-black url('../img/nik-shuliahin-cp1k4Cmx4OE-unsplash.jpg') no-repeat;
}

.flashcard--front .flashcard__aside,
.flashcard--back .flashcard__aside {
  width: 100%;
  height: 175px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  @include bp.media-breakpoint-up(md) { 
    height: 250px;
  }

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.flashcard__title {
  color: var.$color-white;
  text-shadow: 1px 1px 0px var.$color-black;
  font-family: var.$font-header;
}

.flashcard__title--front {
  z-index: 25;
}

.flashcard__title--back {
  z-index: 100;
}

.flashcard__header {
  border-bottom: 1px solid var.$color-black;
}
