// variables

// colors
$color-primary: #c93916;
$color-secondary: #ADAAA6;
$color-tertiary: #6e8875;
$color-dark-brown: #361D14;
$color-white: #ffffff;
$color-black: #000000;
$color-light-gray: #e3e6ef;
$color-green: #46544a;
$color-mustard: #dd9243;
$color-dark-shade: #2A2B2D;
$color-light-shade: #6A6F6F;


$colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "tertiary": $color-tertiary,
  "dark-brown": $color-dark-brown,
  "white": $color-white,
  "black": $color-black,
  "light-gray": $color-light-gray,
  "green": $color-green,
  "mustard": $color-mustard,
  "light-shade": $color-light-shade,
  "dark-shade": $color-dark-shade,
);


// shadows
$black-shadow-1: 10px 10px 8px -2px rgba(0, 0, 0, 0.4);
$black-shadow-2: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);


// font-family
$font-main: averta, avenir w02, avenir, Helvetica, Arial, sans-serif;
$font-header: 'Courgette', cursive;


// media sizes
$breakpoints: (
  0:        0,
  i4:       320px,
  xs:       375px,
  sm:       576px,
  md:       768px,
  lg:       992px,
  xl:       1200px,
  2xl:      1440px,
  3xl:      1920px,
);
