/* ================================= 
  Mixins
==================================== */

/* Breakpoints
   ========================================================================== */

// Small devices
$break-xs: 374px;
// Small devices
$break-sm: 375px;
// Medium devices
$break-m: 768px;
// Large devices
$break-l: 992px;
// Extra large devices
$break-xl: 1200px;
// Retna large devices
$break-xxl: 1440px;


/* ================================= 
  Media Queries
==================================== */
@mixin mq($break) {
  @if $break == 'xs' {
    @media (max-width: $break-xs) {
      @content;
    }
  } @else if $break == 'sm' {
    @media (min-width: $break-sm) {
      @content;
    }
  } @else if $break == 'm' {
    @media (min-width: $break-m) {
      @content;
    }
  } @else if $break == 'l' {
    @media (min-width: $break-l) {
      @content;
    }
  } @else if $break == 'xl' {
    @media (min-width: $break-xl) {
      @content;
    }
  } @else if $break == 'xxl' {
    @media (min-width: $break-xxl) {
      @content;
    }
  } 
}
