/* ================================= 
  Variables
==================================== */

/* Color
   ========================================================================== */
$color-main: #264460;
$color-main-shade: #498ea0;
$color-secondary: #efeee7;
$color-tertiary: #c1432f;
$color-highlight: #F6F4DE;
$color-bk: #110b19;

$color-tran-shade: rgb(12 20 29 / 72%);

/* Button Color
   ========================================================================== */
$btn-callout: #D64226;
$btn-green: #107510;

/* Font-family
   ========================================================================== */
$font-main: averta, avenir w02, avenir, Helvetica, Arial, sans-serif;
$font-header: 'Courgette', cursive;
$font-site-title: 'Courgette', cursive;
/* Font-size
   ========================================================================== */


/* Breakpoints
   ========================================================================== */

// Small devices
$break-xs: 374px;
// Small devices
$break-sm: 375px;
// Medium devices
$break-m: 768px;
// Large devices
$break-l: 992px;
// Extra large devices
$break-xl: 1200px;
// Retna large devices
$break-ret: 1400px;
