//  footer

@use '../../assets/scss/01-helpers/variables' as var;
@use '../../assets/scss/01-helpers/breakpoints' as bp;

.footer {
  width: 100%;
  margin-top: auto;
  padding: 1rem;
  color: var.$color-black;
  background-color: var.$color-white;
  
}

.footer p {
  margin: 1rem 0;
  font-size: 1.125rem;
}