/* ================================= 
  error
==================================== */
.l-error {
  min-height: 100vh;
  padding-top: 8rem;
  width: 80%;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
