/* ================================= 
  Feature
==================================== */

.l-feature {

  &__container {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    
  }

}