/* ================================= 
  flashCard
==================================== */
.l-flashCard {
  min-height: 100vh;
  padding-top: 2rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.l-flashCard__container {
  padding: 0 1rem;
} 