/* ================================= 
  Header
==================================== */
.l-header__container,
.l-header--fixed-top,
.l-header--flex-cen {
  display: flex;
} 

.l-header {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 70px;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(12, 20, 29, 0.90);

  @include mq(m) {  
    background-color: rgba(12, 20, 29, 0.75);
  }
}

.l-header__container {
  height: 100%;
  justify-content: center;
  align-items: center;
  
  @include mq(m) {   
    flex-direction: row;
    justify-content: space-between;
  }  
}