/* ================================= 
  welcome
==================================== */
.l-welcome {
  margin-top: 3rem;  
}

.l-welcome__copy {
  line-height: 1.5;
  margin: 3rem 0;
}

.l-welcome__container {
  margin: 1.5rem auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  padding: 2rem 0.5rem;

  @include mq(m) {
    height: 787px;
    margin: 10rem auto;
    padding: 0 2rem;
    max-width: 1000px ;
  }
}