/* ================================= 
  Wrappers
==================================== */

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.wrapper--site {  
  padding-right: 1rem;
  padding-left: 1rem;
  
}

.wrapper--card {
  margin-top: 10rem;
}
