doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Flash Cards
    meta(name='description', content='Flash Cards')
    meta(name='viewport', content='width=device-width', initial-scale=1.0 )
    link(rel='stylesheet', href='/static/css/style.min.css')
    script(src='/static/js/nav-toggle-script.min.js' async)
    if cardScript 
      script(src='/static/js/card-script.min.js' async)
    if formScript 
      script(src='/static/js/form-script.min.js' async)
  if bodyClass 
    - var bodyClass = bodyClass
  else
    - var bodyClass = ''
  body.body(class=bodyClass)
    include ../includes/header
    if mainClass 
      - var mainClass = mainClass
    else
      - var mainClass = ''
    main.main(class=mainClass)
      block content
    include ../includes/footer